<section class="main-section">

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pd0">
          <div class="main-content background-primary">
            <h1>Dashboard Commentary 1.0 <i class="fa fa-sort-desc custom-fa" aria-hidden="true"></i></h1>
          </div> <!--.main-content-->
        </div> <!--.col-md-12-->
    </div> <!--.row-->
    <div class="row">
      <div class="col-md-12 pd0">
        <div class="background-primary main-tab">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="javascript:void(0)">Dashboard</a>
            </li>
            <li>
              <a href="javascript:void(0)">Details</a>
            </li>
          </ul> <!--.nav-->
        </div> <!--.background-primary-->
      </div> <!--.col-md-12-->
    </div> <!--.row-->
  </div> <!--.container-fluid-->

</section> <!--.main-section-->

<section class="dashboard-screen">
  <app-dashboard></app-dashboard>
</section> <!--.dashboard-screen-->